* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    overflow-x: hidden;
}

section {
    padding: 100px 200px;
}

.btn {
    color: #fff;
    background: #3a6cf4;
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-top: 30px;
    transition: 0.5s ease;
}

/* header */
header {
    color: white;
    background-color: black;
    width: 100%;
    padding: 15px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: o.5s ease;
}

header .navbar ul {
    display: flex;
}

header .navbar ul li {
    list-style: none;
    padding: 10px;
}

header .navbar ul li a{
    text-decoration: none;
    color: white;
}

/* main */
.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(/images/quinton-coetzee-u-n1AFjUclo-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main .content {
    max-width: 800px;
}

.main .content h2 {
    color: white;
    font-size: 2em;
    font-weight: 500;
}

.main .content h2 span {
    font-size: 2.8em;
    font-weight: 600;
}

.main .content .animated-text {
    position: relative;
    height: 70px;
    overflow: hidden;
}

.main .content .animated-text h3 {
    color: #4e9eff;
    font-size: 3em;
    font-weight: 70px;
    line-height: 70px;
    letter-spacing: 1px;
}

.main .content .animated-text h3:nth-child(1) {
    animation: move 10s infinite;
}

@keyframes move {
    0% {
        margin-top: 0px;
    }
    25% {
        margin-top: -70px;
    }
    50% {
        margin-top: -140px;
    }
    75% {
        margin-top: -70px;
    }
    100% {
        margin-top: 0px;
    }
}

.main .content .btn {
    color: #fff;
    background: #3a6cf4;
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 20px;
    margin-top: 30px;
    transition: 1s ease;
}

.main .content .btn:hover {
    background-color: orange;
    color: white;
    transition: 0.8s ease;
}

.main .content .media-icons {
    margin-top: 50px;
}

.main .content .media-icons a {
    color: #fff;
    font-size: 25px;
    margin-right: 30px;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-title {
    position: relative;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 60px;
}

.section-title::before{
    content: '';
    position: absolute;
    top: 56px;
    left: 50%;
    width: 190px;
    height: 4px;
    background: #3a6cf4;
    transform: translateX(-50%);
}
